:root {
    --app-height: 100%
}

.ss-accordion-section__title {
    margin-bottom: 20px
}

@media (min-width:768px) {
    .ss-accordion-section__title {
        margin-bottom: 40px
    }
}

@media (min-width:992px) {
    .ss-accordion-section__title {
        text-align: center
    }
}

.ss-accordion-wrap {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}

.ss-accordion-item {
    border-radius: 5px;
    position: relative;
    padding: 0;
    font-size: 20px;
    line-height: 1.6
}

.ss-accordion-item__header {
    cursor: pointer;
    color: #10324c;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #d9dfe8;
    transition-timing-function: ease-in;
    transition-duration: .25s;
    transition-property: color
}

@media (min-width:768px) {
    .ss-accordion-item__header {
        padding: 20px 0
    }
}

.ss-accordion-item__header.open {
    color: #1478c8
}

.ss-accordion-item__header.open svg {
    transform: rotate(180deg)
}

.ss-accordion-item__header:hover {
    color: #1478c8
}

.ss-accordion-item__header svg {
    flex-shrink: 0;
    transition-timing-function: ease-in;
    transition-duration: .25s;
    transition-property: transform
}

.ss-accordion-item__header h3,
.ss-accordion-item__header h4 {
    margin: 0;
    color: inherit
}

.ss-accordion-item__header.open+.ss-accordion-item__collapse {
    height: 100%;
    visibility: visible
}

.ss-accordion-item__collapse {
    display: none
}

.ss-accordion-item__body {
    padding-bottom: 15px
}

@media (min-width:768px) {
    .ss-accordion-item__body {
        padding-bottom: 20px
    }
}

.ss-accordion-item__body p:last-child {
    margin-bottom: 0
}

.ss-cta-section {
    margin: 80px 0;
    padding: 0 30px 30px;
    border-radius: 5px;
    background-color: #00d1ac;
    position: relative;
    display: flex;
    flex-direction: column
}

@media (min-width:768px) {
    .ss-cta-section {
        margin: 120px 0;
        padding: 60px 30px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center
    }
}

@media (min-width:992px) {
    .ss-cta-section {
        padding: 80px 40px 80px 80px
    }
}

@media (min-width:1200px) {
    .ss-cta-section {
        margin: 160px 0
    }
}

.ss-cta-section .ss-button {
    width: 100%;
    text-align: center
}

@media (min-width:768px) {
    .ss-cta-section .ss-button {
        width: auto
    }
}

.ss-cta-section__content {
    order: 2
}

@media (min-width:768px) {
    .ss-cta-section__content {
        order: 1
    }
}

.ss-cta-section__title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px
}

@media (min-width:768px) {
    .ss-cta-section__title {
        text-align: left;
        margin-bottom: 30px;
        max-width: 370px
    }
}

@media (min-width:1200px) {
    .ss-cta-section__title {
        margin-bottom: 40px;
        max-width: 525px
    }
}

.ss-cta-section__image {
    order: 1;
    margin-top: -40px;
    margin-bottom: 30px;
    flex-grow: 1;
    display: flex;
    justify-content: center
}

.ss-cta-section__image img,
.ss-cta-section__image svg {
    max-width: 100%
}

@media (min-width:992px) {

    .ss-cta-section__image img,
    .ss-cta-section__image svg {
        width: 100%
    }
}

@media (min-width:768px) {
    .ss-cta-section__image {
        order: 2;
        justify-content: flex-end;
        max-width: 290px;
        margin: 0
    }
}

@media (min-width:992px) {
    .ss-cta-section__image {
        margin-top: -120px;
        margin-bottom: -125px;
        max-width: 505px
    }
}

@media (min-width:1200px) {
    .ss-cta-section__image {
        margin-top: -133px;
        margin-bottom: -110px
    }
}

.ss-cta-section {
    border-radius: 12px
}

.ss-intro-animation-section {
    overflow: hidden;
    margin-top: 0 !important;
    padding-top: 40px
}

@media (min-width:768px) {
    .ss-intro-animation-section {
        display: flex
    }
}

@media (min-width:992px) {
    .ss-intro-animation-section {
        padding-top: 50px
    }
}

.ss-intro-animation-section .ss-section-description {
    font-size: 22px;
    line-height: 1.6;
    max-width: 345px
}

@media (min-width:992px) {
    .ss-intro-animation-section .ss-section-description {
        max-width: 490px
    }
}

.ss-intro-animation-section .ss-section-title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 8px
}

@media (min-width:768px) {
    .ss-intro-animation-section .ss-section-title {
        font-size: 36px
    }
}

@media screen and (min-width:1200px) {
    .ss-intro-animation-section .ss-section-title {
        font-size: 60px
    }
}

.ss-intro-animation-section__content {
    max-width: 385px
}

@media (min-width:992px) {
    .ss-intro-animation-section__content {
        max-width: 560px;
        padding-right: 10px
    }
}

@media screen and (min-width:1200px) {
    .ss-intro-animation-section__content {
        max-width: 660px
    }
}

.ss-intro-animation-section__content .ss-button,
.ss-intro-animation-section__content .ss-section-description,
.ss-intro-animation-section__content .ss-sing-up-form {
    display: none
}

@media (min-width:768px) {

    .ss-intro-animation-section__content .ss-button,
    .ss-intro-animation-section__content .ss-section-description,
    .ss-intro-animation-section__content .ss-sing-up-form {
        display: inline-block
    }
}

.ss-intro-animation-section__mobile .ss-button,
.ss-intro-animation-section__mobile .ss-section-description {
    display: block;
    width: 100%;
    max-width: 100%
}

@media (min-width:768px) {

    .ss-intro-animation-section__mobile .ss-button,
    .ss-intro-animation-section__mobile .ss-section-description {
        display: none
    }
}

.ss-intro-animation-section__list-wrap {
    max-height: 100%;
    position: relative;
    flex-grow: 1;
    height: 40px;
    overflow: hidden;
    margin-bottom: 20px
}

@media (min-width:768px) {
    .ss-intro-animation-section__list-wrap {
        margin-bottom: 0;
        height: 360px;
        overflow: visible
    }
}

.ss-intro-animation-section__list {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.ss-intro-animation-section__list li {
    list-style: none;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -.02em;
    font-weight: 700;
    color: #1B3E70;
    transition-timing-function: ease-in;
    transition-duration: .25s;
    transition-property: color
}

.blink_me {
    animation: blinker 3.5s linear infinite;
}
.blink_me1 {
    animation: blinker 3.6s linear infinite;
}
.blink_me2 {
    animation: blinker 3.7s linear infinite;
}
  @keyframes blinker{
    0%{     color: rgb(67, 78, 199);    }
    49%{    color: #1B3E70; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #1B3E70;    }
}

/* @keyframes blinker {
    10% {
      opacity: 0;
    }
  } */

.ss-intro-animation-section__list li.active {
    color: #1478c8
}

@media (min-width:768px) {
    .ss-intro-animation-section__list li {
        font-size: 36px
    }
}

@media screen and (min-width:1200px) {
    .ss-intro-animation-section__list li {
        font-size: 60px
    }
}

.ss-section-content-with-image {
    position: relative
}

.ss-section-content-with-image .ss-section-description {
    color: #10324c;
    margin-bottom: 30px
}

@media (min-width:992px) {
    .ss-section-content-with-image.left-to-right:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='639' height='329' viewBox='0 0 639 329' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M637.323 327C637.323 191 506 117 353 156C196.682 195.846 2 212 2 2' stroke='navy' stroke-width='3' stroke-miterlimit='1' stroke-linecap='round' stroke-dasharray='15 15'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 680px;
        height: 333px;
        left: 75px;
        top: calc(100% - 80px);
        z-index: -1
    }

    .ss-section-content-with-image.right-to-left {
        margin-bottom: 224px
    }

    .ss-section-content-with-image.right-to-left:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='500' height='372' viewBox='0 0 555 372' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 83 302 C 70 227 202 129 302 168 C 411 214 523 100 473 42' stroke='navy' stroke-width='3' stroke-miterlimit='2' stroke-linecap='butt' stroke-dasharray='20 20'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 552px;
        height: 368px;
        left: 200px;
        top: calc(100% - 80px);
        z-index: -1
    }

    .ss-section-content-with-image:last-child:after {
        content: none
    }
}

.ss-section-content-with-image__image-wrap {
    min-height: 565px;
    border-radius: 12px;
    background-color: rgba(10, 0, 100, .1);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 50px;
    padding-left: 10px
}

@media (min-width:768px) {
    .ss-section-content-with-image__image-wrap {
        justify-content: center;
        padding: 0
    }
}

@media (min-width:992px) {
    .ss-section-content-with-image__image-wrap {
        margin-top: 0;
        padding: 0 15px
    }
}

.ss-section-content-with-image__image-wrap .image-desktop {
    display: none
}

@media (min-width:768px) {
    .ss-section-content-with-image__image-wrap .image-desktop {
        display: block
    }
}

.ss-section-content-with-image__image-wrap .image-mobile {
    display: block
}

@media (min-width:768px) {
    .ss-section-content-with-image__image-wrap .image-mobile {
        display: none
    }
}

.ss-section-content-with-image__image-wrap.blue {
    background-color: rgba(20, 120, 200, .1)
}

.ss-section-content-with-image__image-wrap.purple {
    background-color: rgba(131, 99, 226, .1)
}

.ss-section-content-with-image__image-wrap.pink {
    background-color: rgba(250, 50, 115, .1)
}

.ss-section-content-with-image__image-wrap.yellow {
    background-color: rgba(255, 205, 0, .1)
}

.ss-section-content-with-image__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.ss-recommended-section {
    position: relative;
    padding: 60px 0;
    text-align: center
}

.ss-recommended-section.has-image {
    margin-bottom: 322px
}

@media (min-width:992px) {
    .ss-recommended-section.has-image {
        margin-bottom: 160px
    }
}

@media (min-width:768px) {
    .ss-recommended-section {
        padding: 80px 70px
    }
}

@media (min-width:992px) {
    .ss-recommended-section {
        padding: 120px 0;
        text-align: left
    }
}

@media (min-width:1200px) {
    .ss-recommended-section {
        padding: 80px 0
    }
}

.ss-recommended-section:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-height: 979px;
    background: rgba(0, 209, 172, .04);
    border-radius: 12px;
    pointer-events: none
}

@media (min-width:768px) {
    .ss-recommended-section:after {
        width: calc(100% - 50px);
        max-height: 908px
    }
}

@media (min-width:992px) {
    .ss-recommended-section:after {
        max-width: 1600px;
        width: 100%;
        max-height: 565px
    }
}

.ss-recommended-section__actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center
}

.ss-recommended-section__actions a+a {
    margin-top: 32px
}

@media (min-width:768px) {
    .ss-recommended-section__actions {
        flex-direction: row;
        justify-content: center
    }

    .ss-recommended-section__actions a+a {
        margin-top: 0
    }

    .ss-recommended-section__actions a {
        margin-right: 38px
    }

    .ss-recommended-section__actions a:last-child {
        margin-right: 0
    }
}

@media (min-width:992px) {
    .ss-recommended-section__actions {
        justify-content: flex-start
    }
}

.ss-recommended-section__image {
    margin-top: 60px;
    margin-bottom: -300px;
    display: flex;
    justify-content: center;
    position: relative
}

@media (min-width:768px) {
    .ss-recommended-section__image {
        justify-content: flex-end;
        margin-top: 70px
    }
}

@media (min-width:992px) {
    .ss-recommended-section__image {
        margin: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 15px
    }
}

@media (min-width:1200px) {
    .ss-recommended-section__image {
        padding-right: 0
    }
}

.ss-recommended-section__image:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
    width: 210px;
    height: 384px;
    background-image: url("data:image/svg+xml,%3Csvg width='79' height='145' viewBox='0 0 79 145' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M73.9598 -3.23289e-06C76.7238 -3.3537e-06 79 2.281 79 5.05079C79 14.9894 79 25.091 78.8375 35.0296C78.6749 70.3851 78.3497 105.741 77.862 141.096C77.862 145.821 73.7972 145.332 68.4319 144.355C51.6853 141.096 33.8006 132.624 21.6066 120.567C1.12052 100.364 -6.35848 67.6153 5.99819 41.0579C17.8671 15.1523 46.4825 0.814634 73.9598 -3.23289e-06Z' stock='navy' fill='%23FFCD00'/%3E%3C/svg%3E%0A");
    bottom: 135px;
    left: -30px
}

@media (min-width:768px) {
    .ss-recommended-section__image:before {
        left: -129px;
        bottom: 64px
    }
}

@media (min-width:992px) {
    .ss-recommended-section__image:before {
        bottom: 50%;
        transform: translateY(50%)
    }
}

.ss-recommended-section__image img,
.ss-recommended-section__image svg {
    max-width: 318px;
    position: relative;
    z-index: 2;
    align-self: center
}

.ss-recommended-section .app-of-the-day {
    margin-bottom: 20px
}

.ss-flashcard-section {
    padding-top: 40px;
    position: relative
}

@media (min-width:768px) {
    .ss-flashcard-section {
        padding: 60px 30px 0
    }
}

@media (min-width:992px) {
    .ss-flashcard-section {
        padding-top: 80px
    }

    .ss-flashcard-section:before {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='148' height='219' viewBox='0 0 148 219' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M124 217C124 114 187 24 97.9997 36C37.1503 44.2044 2.00018 52 2 2' stroke='navy' stroke-width='3' stroke-miterlimit='1' stroke-linecap='round' stroke-dasharray='15 15'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 215px;
        width: 144px;
        top: 102%;
        left: 52%
    }
}

.ss-flashcard-section:after {
    content: '';
    background-color: rgba(20, 120, 200, .06);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    z-index: -1
}

@media (min-width:768px) {
    .ss-flashcard-section:after {
        border-radius: 12px;
        width: calc(100% - 30px)
    }
}

@media (min-width:992px) {
    .ss-flashcard-section:after {
        max-height: 620px
    }
}

.ss-flashcard-section__content .ss-section-description {
    margin-bottom: 30px
}

.ss-flashcard-section__content .ss-button {
    margin-bottom: 40px
}

@media (min-width:768px) {
    .ss-flashcard-section__content .ss-button {
        margin-bottom: 60px
    }
}

@media (min-width:992px) {
    .ss-flashcard-section__content .ss-button {
        margin-bottom: 80px
    }
}

.ss-flashcard-section__image-wrap {
    margin-bottom: 150px;
    margin-right: -15px
}

@media (min-width:768px) {
    .ss-flashcard-section__image-wrap {
        margin-bottom: 230px;
        margin-right: -5px;
        margin-left: -5px
    }
}

@media (min-width:992px) {
    .ss-flashcard-section__image-wrap {
        margin-bottom: 0;
        position: relative
    }
}

.ss-flashcard-section__image-wrap svg {
    position: absolute;
    max-width: 290px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

@media (min-width:768px) {
    .ss-flashcard-section__image-wrap svg {
        max-width: 356px
    }
}

@media (min-width:992px) {
    .ss-flashcard-section__image-wrap svg {
        bottom: calc(100% - 3px);
        transform: translateX(0)
    }
}

.ss-flashcard-section__image-wrap .image-desktop {
    display: none
}

@media (min-width:768px) {
    .ss-flashcard-section__image-wrap .image-desktop {
        display: block
    }
}

@media (min-width:768px) {
    .ss-flashcard-section__image-wrap .image-mobile {
        display: none
    }
}

.ab-test {
    display: none
}

.ab-test .ss-intro-nav-list-first ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.ab-test .ss-intro-nav-list-first ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: calc(50% - 30px);
    border-radius: 5px;
    margin-bottom: 30px;
    transition: .25s;
    font-weight: 700;
    padding: 25px;
    position: relative;
    cursor: pointer
}

.ab-test .ss-intro-nav-list-first ul li a {
    color: #10324c;
    font-size: 20px;
    transition: .25s
}

.ab-test .ss-intro-nav-list-first ul li img,
.ab-test .ss-intro-nav-list-first ul li svg {
    transition: .25s;
    align-self: center
}

.ab-test .ss-intro-nav-list-first ul li img path,
.ab-test .ss-intro-nav-list-first ul li svg path {
    transition: .25s
}

.ab-test .ss-intro-nav-list-first ul li:hover img,
.ab-test .ss-intro-nav-list-first ul li:hover svg {
    margin-right: 10px
}

.ab-test .ss-intro-nav-list-first ul li:hover svg path {
    stroke: #fff
}

.ab-test .ss-intro-nav-list-first ul li:hover a {
    color: #fff
}

.ab-test .ss-intro-nav-list-first ul li:nth-child(odd) {
    margin-right: 30px
}

.ab-test .ss-intro-nav-list-first .green {
    background-color: rgba(0, 209, 172, .1)
}

.ab-test .ss-intro-nav-list-first .green:hover {
    background-color: #00d1ac
}

.ab-test .ss-intro-nav-list-first .pink {
    background-color: rgba(250, 50, 115, .1)
}

.ab-test .ss-intro-nav-list-first .pink:hover {
    background-color: #fa3273
}

.ab-test .ss-intro-nav-list-first .yellow {
    background-color: rgba(255, 205, 0, .1)
}

.ab-test .ss-intro-nav-list-first .yellow:hover {
    background-color: #ffcd00
}

.ab-test .ss-intro-nav-list-first .blue {
    background-color: rgba(20, 120, 200, .1)
}

.ab-test .ss-intro-nav-list-first .blue:hover {
    background-color: #1478c8
}

.ab-test .ss-intro-nav-list-first .purple {
    background-color: rgba(131, 99, 226, .1)
}

.ab-test .ss-intro-nav-list-first .purple:hover {
    background-color: #8363e2
}

.ab-test .ss-intro-nav-list-first .navy-blue {
    background-color: rgba(10, 50, 130, .1)
}

.ab-test .ss-intro-nav-list-first .navy-blue:hover {
    background-color: #0a3282
}

.ab-test .ss-intro-nav-list-second a {
    width: 100%;
    display: flex
}

.ab-test .ss-intro-nav-list-second .nav-list-card {
    transition: .25s;
    border-radius: 5px;
    margin-bottom: 30px
}

.ab-test .ss-intro-nav-list-second .nav-list-card-left {
    padding: 25px;
    max-width: 300px;
    width: 100%
}

.ab-test .ss-intro-nav-list-second .nav-list-card-left__title {
    font-weight: 700;
    font-size: 20px;
    color: #10324c;
    transition: .25s;
    display: flex
}

.ab-test .ss-intro-nav-list-second .nav-list-card-left__desc {
    color: #3b556b;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    transition: .25s
}

.ab-test .ss-intro-nav-list-second .nav-list-card-right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.ab-test .ss-intro-nav-list-second .nav-list-card svg {
    transition: .25s;
    margin-left: 10px
}

.ab-test .ss-intro-nav-list-second .nav-list-card svg path {
    transition: .25s
}

.ab-test .ss-intro-nav-list-second .nav-list-card:hover .nav-list-card-left__desc,
.ab-test .ss-intro-nav-list-second .nav-list-card:hover .nav-list-card-left__title {
    color: #fff
}

.ab-test .ss-intro-nav-list-second .nav-list-card:hover svg {
    margin-left: 6px
}

.ab-test .ss-intro-nav-list-second .nav-list-card:hover svg path {
    stroke: #fff
}

.ab-test .ss-intro-nav-list-second .green {
    background-color: rgba(0, 209, 172, .1)
}

.ab-test .ss-intro-nav-list-second .green:hover {
    background-color: #00d1ac
}

.ab-test .ss-intro-nav-list-second .pink {
    background-color: rgba(250, 50, 115, .1)
}

.ab-test .ss-intro-nav-list-second .pink:hover {
    background-color: #fa3273
}

.ab-test .ss-intro-nav-list-second .yellow {
    background-color: rgba(255, 205, 0, .1)
}

.ab-test .ss-intro-nav-list-second .yellow:hover {
    background-color: #ffcd00
}

.ab-test .ss-intro-nav-list-second .blue {
    background-color: rgba(20, 120, 200, .1)
}

.ab-test .ss-intro-nav-list-second .blue:hover {
    background-color: #1478c8
}

.ab-test .ss-intro-nav-list-second .purple {
    background-color: rgba(131, 99, 226, .1)
}

.ab-test .ss-intro-nav-list-second .purple:hover {
    background-color: #8363e2
}

.ab-test .ss-intro-nav-list-second .navy-blue {
    background-color: rgba(10, 50, 130, .1)
}

.ab-test .ss-intro-nav-list-second .navy-blue:hover {
    background-color: #0a3282
}

.ab-test .button-wrap {
    display: flex;
    justify-content: center;
    align-items: center
}

.ab-test .first-row {
    margin-bottom: 40px
}

@media (min-width:992px) {
    .ab-test {
        display: block
    }
}

@media screen and (max-width:991px) {
    .ab-hero-test .ss-intro-animation-section {
        display: none
    }
}

@media screen and (min-width:992px) {
    .ab-part .ss-intro-animation-section {
        display: none
    }
}

.ss-section-hero-brain p {
    color: #000;
    font-size: 26px
}

.ss-section-hero-brain span {
    color: #3876c2;
    font-weight: 700;
    font-size: 32px;
    margin-top: 40px;
    display: inline-block
}

.ss-section-hero-brain__animation {
    margin-top: -280px
}

.ss-section-hero-brain a {
    border-radius: 19px;
    align-self: center;
    margin-top: -40px
}

.ss-section-hero-brain-title-wrap {
    display: flex;
    align-items: center
}

.ss-section-hero-brain-title-wrap img {
    margin-right: 10px
}

.ss-section-hero-brain-title-wrap h1 {
    color: #000;
    margin: 0;
    font-size: 60px
}

.home .maintopics-banner-wrap {
    position: relative
}

.home .maintopics-banner-wrap--scrolled {
    position: fixed;
    bottom: 0;
    z-index: 999;
    margin: 0;
    width: 100%
}

.home #maintoics-close-btn {
    color: #fff;
    min-width: 20px;
    z-index: 999;
    position: absolute;
    top: 30px;
    left: 5px;
    cursor: pointer
}

.home .maintopics-cro-banner {
    display: flex;
    font-family: "Proxima Nova";
    margin: -5px 0 0 0;
    width: 100%;
    align-items: center;
    background: #1478c8;
    padding: 15px 10px 15px 28px;
    justify-content: space-between
}

@media (min-width:576px) {
    .home .maintopics-cro-banner {
        display: none
    }
}

.home .maintopics-cro-banner .center-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 10px;
    margin-right: 15px;
    line-height: 1
}

.home .maintopics-cro-banner .center-content__midle {
    margin-bottom: 5px;
    display: flex;
    align-items: center
}

.home .maintopics-cro-banner__logo {
    margin-right: 15px
}

.home .maintopics-cro-banner__title {
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 5px
}

.home .maintopics-cro-banner__subtitle {
    font-size: 11px
}

.home .maintopics-cro-banner__star {
    margin-right: 10px
}

.home .maintopics-cro-banner__click {
    display: flex
}

.home .maintopics-cro-banner__btn {
    color: #1478c8;
    font-weight: 500;
    font-size: 13px;
    padding: 3px 5px;
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    min-width: 70px;
    text-align: center
}

.home .maintopics-cro-banner--scrolled {
    position: fixed;
    bottom: 0;
    z-index: 999;
    margin: 0
}

.home .maintopics-banner-wrap {
    display: none
}

.ss-talent-section__content {
    margin-top: 36px;
    text-align: center
}

.ss-talent-section__title {
    margin: 0 auto 18px auto
}

.ss-talent-section__text {
    margin: 0 auto 40px auto
}

.ss-talent-section__image {
    display: none
}

.ss-talent-section__image--bottom {
    margin-top: 5px
}

@media screen and (min-width:768px) {
    .ss-talent-section__image {
        display: block
    }

    .ss-talent-section__text {
        width: 50%
    }
}